{
    "bracketSpacing": true,
    "pluginSearchDirs": false,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-organize-attributes",
        "prettier-plugin-sort-json",
        "prettier-plugin-jsdoc",
        "prettier-plugin-import-sort",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "semi": true,
    "singleAttributePerLine": true,
    "singleQuote": false,
    "svelteSortOrder": "options-styles-scripts-markup",
    "tabWidth": 4,
    "tailwindConfig": "./tailwind.config.cjs",
    "trailingComma": "es5"
}
